.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    color: #49577e;
    font-size: 18px;
}
.navbar-right{
    gap:40px;
    display: flex;
    align-items: center;
}

.navbar button{  
    background-color: transparent;
    font-size: 16px;
    padding: 10px 20px;
    color:red;
    border: 1px red solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color:yellow ;
    cursor: pointer;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}
